@import "globals.css";
@import "general.css";

window#waybar {
  background-color: transparent;
}

#workspaces {
  background: transparent;
  border-radius: 8px;
  padding: 3px 5px;
  border: none;
}

.modules-left {
  margin-left: 12px;
}

.modules-right {
  margin-left: 12px;
}

#workspaces button {
  padding: 0;
  padding-right: 3px;
  min-width: 20px;
  min-height: 30px;
  border-radius: 0px;
  color: @primary;
  transition: all 0.15s ease-in-out;
  /*transition: font-size 0.25s easo-in-out;*/
}

#workspaces button label {
  font-size: 14px;
  padding-top: 2px;
  transition: all 0.15s ease-in-out;
}

#workspaces button.persistent {
  color: @primary;
}

#workspaces button.empty {
  color: @dark-bg;
}

#workspaces button.active {
  color: @accent;
  padding-right: 6px;
  text-shadow:
    0.25px 0.25px 0 @accent,
    -0.25px 0.25px 0 @accent,
    -0.25px -0.25px 0 @accent,
    0.25px -0.25px 0 @accent;
}

#workspaces button.active label {
  font-size: 14px;
}

#workspaces button:hover {
  background-color: transparent;
  color: @accent;
}

#workspaces button label:hover {
  background-color: transparent;
}

#custom-os-logo {
  font-size: 18px;
  padding-right: 13px;
}
