/* Dark green minimalist palette */
@define-color primary #3d6b4f;
@define-color success #4a8a5c;
@define-color warning #6b7a3d;
@define-color error #8a4a4a;
@define-color accent #5a9d6f;
@define-color bg transparent;
@define-color dark-bg #2d4a38;

